<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12 col-xl-12">
            <div class="row g-3 mt-4">
                <h3 class="text-center" style="color:#323773;font-size:xx-large; line-height: 1.5;font-size: 40px;">Employee Registration</h3>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Employee Id</label>
                    <input name="employeeid" [(ngModel)]="employeeid" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">First Name</label>
                    <input type="text" name="FirstName" [(ngModel)]="FirstName" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Last Name</label>
                    <input type="text"name="LastName" [(ngModel)]="LastName" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">House No</label>
                    <input type="text"name=" HouseNo" [(ngModel)]=" HouseNo" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">House Name</label>
                    <input type="text" name="HouseName" [(ngModel)]="HouseName" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Street Name</label>
                    <input type="email" name="StreetName" [(ngModel)]="StreetName" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Pincode</label>
                    <input type="email" name=" Pincode"[(ngModel)]=" Pincode" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">District</label>
                    <input type="text"name="District" [(ngModel)]="District" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">State</label>
                    <input type="text" name="State" [(ngModel)]="State" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Country</label>
                    <input type="text" name="Country=" [(ngModel)]="Country" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Mobile No</label>
                    <input type="text" name="MobileNo" [(ngModel)]="MobileNo"id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Email Id</label>
                    <input type="text" name="EmailId" [(ngModel)]="EmailId" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Parent Name</label>
                    <input type="text" name="ParentName" [(ngModel)]="ParentName" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Gender</label>
                    <input type="text" name="Gender" [(ngModel)]="Gender" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Highest Degree</label>
                    <input type="text"name="HighestDegree" [(ngModel)]="HighestDegree" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Year of Experience</label>
                    <input type="text" name=" YearExperience" [(ngModel)]=" YearExperience" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Date of Joining</label>
                    <input type="date" name="DateJoining" [(ngModel)]="DateJoining" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Username</label>
                    <input type="text" name="Username" [(ngModel)]="Username" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Password</label>
                    <input type="text" name="Password" [(ngModel)]="Password"id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Confirm Password</label>
                    <input type="text"name="ConfirmPassword" [(ngModel)]="ConfirmPassword" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button  (click)="readvalues()" class="btn btn-success">Register</button>
                </div>
                <div class="text-center"><a routerLink="/emplog" style="font-size:20px ;">Back to Employee Login</a></div>
            </div>
        </div>
    </div>
</div>
