<app-navbar-home></app-navbar-home>

<div class="container" id="bac">
    <img src="https://freedesignfile.com/upload/2017/01/Light-blue-tech-background-vector-05.jpg" alt="Snow" style="width:100%;height: 200px;">
    <div class="centered">About Us</div>
  </div>


<div class="container">
    <div class="row mt-4">
        <div  class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 pt-5" style="padding-top: 100;">
            <img class="rounded mx-auto d-block" src="https://www.nestdigital.com/images/logo_our_story.png" alt="">
        </div>
        <div  class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 pt-4 ">
            <div class="aboutDesc text-left p-grp pt-4 text-left"  style="font-size:21px">
                <p >NeST Digital, a subsidiary of the NeST Group, has been transforming businesses, providing customized and innovative software solutions and services for our customers across the globe.
                    Our ability to coordinate globally distributed software engineering resources through robust operational processes and consistent project management methods enable us to rapidly mobilize resources wherever and whenever required.
                    </p>
            </div>
        </div>
    </div>
</div>

    
