<nav class="navbar navbar-expand-lg"  style="background-color:#e8e9ed ;">
        <div class="container-fluid">
            <a class="navbar-brand"  routerLink="">
                <img src="https://www.nestdigital.com/images/logo.svg" alt="Bootstrap" width="100" height="50">
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page"  routerLink="">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  routerLink="/about">About US </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link"  routerLink="/service">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="">Admin Portal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="">Employee Portal</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>       
