<app-navbar-home></app-navbar-home>> 
<div class="container">
        <div class="row mt-5">
          <h2 class="text-center" style="color:#323773;font-size:xx-large; line-height: 1.5;font-size: 40px;">Contact Us </h2>
            <div class="col col12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 pt-5 mt-10"  style="text-align:center ;padding-top: 20px;">
             
                <img class="mx-auto pr-5" height="400px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvOLXkl5CWP9Wmn1lAk3HwKDPVFJT53zckX_i6CjYuRs2oxR61__RysYSFC2_ep-nalzI&usqp=CAU" alt="">
            
             
                <h4>FOR ENQUIRY </h4>
                <p > Email:shanjsk@nestgroup.net</p> 
                <h4>NeST DIGITAL CORPORATE OFFICE</h4>
                <p>Plot No. 2, Cochin Special Economic Zone (CSEZ),</p>
                <p> Kakkanad, Cochin – 682 037,India</p>
                <p> Phone: +91-484-661 4300</p>
                
                                   
            </div>
        </div>
    </div>

