<app-nav-emp></app-nav-emp>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12 col-xl-12">
            <h3 class="text-center mt-4" style="color:#323773;font-size:xx-large; line-height: 1.5;font-size: 40px;">Add Friends</h3>
            <div class="row g-3 mt-4">
                
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Name</label>
                    <input name="name"[(ngModel)]="name"type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Friend Name</label>
                    <input name="friendName"[(ngModel)]="friendName" type="text"id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12 col-xl-12">
                    <label for="" class="form-label">Describe about your Friend</label>
                    <textarea name="DescribeYourFriend" [(ngModel)]="DescribeYourFriend"  id="" cols="6" rows="4" class="form-control"></textarea>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Friend Nickname</label>
                    <input name="friendNickName" [(ngModel)]="friendNickName" type="text"  id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                  <button (click)=" readValues()" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>
    </div>

