<app-navbar-home></app-navbar-home>
<div class="container">
    <div class="row g-3 mt-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h2 class="text-center" style="color:#323773;font-size:xx-large; line-height: 1.5;font-size: 40px;">Services </h2>
        </div>    
            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <img src="https://internt.slu.se/globalassets/mw/stod-serv/campus-och-hus/services.jpg?width=480&height=480&mode=crop" alt="">
             </div>
            <div  class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 pt-5">
               <ul style="font-size:23px">
                <li>Digital Transformation –Disruptive Digital Technology Solutions for your Business</li>
                <li>GIS –  Intelligent business solutions where location matters</li>
                <li>Business and IT Consulting – Rethinking and Reengineering your business Strategy, Design, Technology and more</li>
                <li>Application Services and Solutions – Multi platform Software Applications and Products for diverse Domains</li>
                <li>Enterprise Solutions – Futureproof Technology Solutions that solves your toughest Business Problems</li>
                <li>Quality Assurance and Testing – Quality Consulting and Software Testing for an Enhanced Customer Experience</li>
               </ul>
        </div>
    </div>
</div>
