<div class="container">
    <div class="row g-3 mt-5">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h2 class="text-center" style="color:#323773;"  >Services</h2>
            <div>
               <ul>
                <li>Digital Transformation –Disruptive Digital Technology Solutions for your Business</li>
                <li>GIS –  Intelligent business solutions where location matters</li>
                <li>Business and IT Consulting – Rethinking and Reengineering your business Strategy, Design, Technology and more</li>
                <li>Application Services and Solutions – Multi platform Software Applications and Products for diverse Domains</li>
                <li>Enterprise Solutions – Futureproof Technology Solutions that solves your toughest Business Problems</li>
                <li>Quality Assurance and Testing – Quality Consulting and Software Testing for an Enhanced Customer Experience</li>
               </ul>
            </div>
        </div>
    </div>
</div>
